
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 800px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}


.nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
}

.nav-list {
            display: flex;
            justify-content: space-around;
}

.nav-list > h3 {
                  margin-right: 2rem;
}

.home-conatiner {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/homepage.png") no-repeat center center;
}

.about-hero-image {
  max-width: 100%;
}


/***  Van Page styles ****/
.van-list-container {
    padding-inline: 23px;
}

.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
  margin-top: 57px;
}

.van-tile a {
    color: #161616;
    text-decoration: none;
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}